h2{
    font-size: 30px;
}
h4{
    font-size 20px;
}
.profile {
    width: 100%;
    display:inline-block;
    color:black;
}
.profile > *{
    padding:0px;
    -webkit-print-color-adjust: exact;
    colour-adjust:exact !important;
    background-color: #056e6e !important;
}
.bio{
    display: block;
    width:100% !important;
    max-width:100%;
    flex:none;
    color: #fff;
}
.bio > p{
    margin:0px;
}

.title-overlay {
  height:100%;
  width:100%;
  margin:0px;
  padding:5px;
  justify-content:center;
  align-items: stretch;
  display:flex;
  background-color: #056e6eb0 !important

}

.title-branding {
    height:90%;
    max-height: 120px;
    margin:10px;
}
.title{
    -webkit-print-color-adjust: exact !important;
    color-adjust:exact !important;
    background-color: #056e6e !important;/*backup if image fails*/
    background:url('WebsiteTileableBackground.png') !important;
    height: 140px;
    overflow-x: hidden;
    display:flex-root;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0px;
    background: none;
    height: unset;
    width: 100%;
}
.print-contact {
    color: #fff;
    padding: 5px;
    align-self: center;
    font-weight: 400;
}
.print-contact h1{

    font-size: 24px;
    margin-bottom:0px;
}
.print-contact h4{
    font-size: 24px;
    margin:0px;
}
.contact-left{
    text-align:right;
    align-items: right;
}
.contact-right{
    text-align: left;
    align-items:left;

}


.container {
    padding: 15px;
}

.schools {
        flex-wrap:wrap;
        margin:5px -5px;
}
.schools .school:not(:first-child){
    border-left: none;
}
.school{
    padding:5px;
    margin:0px;
    border: 1px solid transparent;
    display:flex;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}
.school > * {
    display:inline-block;
    padding: 5px 8px;
    margin:0px;
    font-weight:normal;
    vertical-align: bottom;
    border-left:1px solid  rgba(34,163,159,0.35);
}
.school > *:first-child{
    /* padding-left:0px; */
    border-left:none;
}

.education .row, .experiences .row, .vol .row {
    padding-bottom: 5px;
}
.experiences .container > div:not(:last-child),
    .vol .container > div:not(:last-child){
        margin-bottom: 5px;
}
.vol .container > div:not(:last-child){
    border-bottom: none;
}
.row {
    page-break-inside: avoid;
    break-inside:avoid;
}
.hex-row{
    page-break-inside: avoid;
    break-inside:avoid;
}

.content > * {
    /*make it play nice with page breaks*/
    display:table;
}
.content .container {
    padding-left: 15px;
    padding-right:15px;
}
ul {
    display:table;
}
.experiences > .container > .row .location, .vol > .container > .row .location  {
    display:inline-block;
    width:23%;
}
.experiences > .container > .row .JobDesc, .vol > .container > .row .JobDesc{
    display:inline-block;
    width:75%;
}

.vol .location{
    display: inline-flex;
    padding:5px;

}
.vol .location > * {
    margin-bottom:5px;
    border-bottom:none;
}
.vol > .experience{
    display:none;
}
#hiddenPrintSkill{
    padding: 8px;
    margin:5px;
}
.skills{
    order:-1;
}
.hex-fill{
     background-color: #056e6e !important;
     -webkit-print-color-adjust: exact;
     color-adjust:exact !important;
}
.hex-mask > .hex-mask > .hex-mask .hex-mask{
    background-color: #aaa; !important;
    -webkit-print-color-adjust: exact;
    color-adjust:exact !important;
}
.hex-interest .hex-content{
    -webkit-print-color-adjust: exact;
    color-adjust:exact !important;
    background-color: #056e6e;
}
.hex-interest .hex-icon{
    color: #3a8d8c;
}
/*alternative sizeing for hex. May switch back depending on context"

.hex-mask{
    width:150px;
    height: 180px;
}
.hex-pie{
    width:150px;
    height:180px;
}
.hex-row > .hex-pie{
    margin-top: -45px
}
.hex-name-plate{
    top:50px;
    left:35px;
}
*/
.hex-row{
    max-width:915px;
    margin:auto;
}

.hex-row > .hex:nth-child(15n-7){
    margin-left:67px;
}
